{% extends "page.html" %}

{% block head %}
<meta id="base-url" data-url="{{base_url}}">
{{ super() }}
<script>
  {% if submit %} window.submitBuild = true; {% endif %}
</script>
<link href="{{static_url("vendor/xterm.js-2.6.0/xterm.css")}}" rel="stylesheet" />
<script src="{{static_url("vendor/xterm.js-2.6.0/xterm.js")}}"></script>
<script src="{{static_url("vendor/xterm.js-2.6.0/addons/fit/fit.js")}}"></script>
<script src="{{static_url("index.js")}}"></script>
<link rel="stylesheet" href="{{static_url("loading.css")}}">
{% endblock head %}

{% block main %}
<div id="loader"></div>
<div id="loader-text">
	<p>Loading your Binder...</p>
</div>

<!-- Keep the build form so that the JS works the same as index, but hide it -->
<form id="build-form" class="form jumbotron hidden">
  <h4 id="form-header" class='row'>Build and launch a repository</h4>
  <div class="form-group row">
    <label for="repository">GitHub repo or URL</label>
    <input class="form-control" type="text" id="repository" placeholder="GitHub repository name or link" value="{{ url or '' }}"/>
  </div>
  <div class="form-row row">
    <div class="form-group col-md-4">
      <label for="ref">Git branch, tag, or commit</label>
      <input class="form-control" type="text" id="ref" placeholder="master" value="{{ ref or '' }}"/>
    </div>
    <div class="form-group col-md-6">
      <label for="filepath"></label>
      <div class="input-group">
        <input class="form-control" type="text" id="filepath"
          placeholder=""
          value="{{ urlpath or filepath or '' }}"
        />
        <div class="input-group-btn" id="url-or-file-btn">
          <button type="button" class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            title="Specify whether the path to open is a URL or a file"
          >
          <span id="url-or-file-selected">
          {{ 'URL' if urlpath else 'File' }}
          </span>
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">File</a></li>
            <li class="dropdown-item"><a href="#">URL</a></li>
          </ul>
        </div>
      </div>
    </div>
  </form>
{% endblock main %}

{% block footer %}
{% endblock footer %}
