# pre-commit is a tool to perform a predefined set of tasks manually and/or
# automatically before git commits are made.
#
# Config reference: https://pre-commit.com/#pre-commit-configyaml---top-level
#
# Common tasks
#
# - Run on all files:   pre-commit run --all-files
# - Register git hooks: pre-commit install --install-hooks
#
repos:
  # Autoformat: Python code, syntax patterns are modernized
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus

  # Autoformat: Python code
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        # args are not passed, but see the config in pyproject.toml

  # Autoformat: Python code
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        # args are not passed, but see the config in pyproject.toml

  # Generated code:
  #   An entry in helm-chart/binderhub/values.yaml should be generated based on
  #   binderhub/binderspawner_mixin.py. See ci/check_embedded_chart_code.py for
  #   more details.
  - repo: local
    hooks:
      - id: update-values-based-on-binderspawner-mixin
        name: Update helm-chart/binderhub/values.yaml based on binderhub/binderspawner_mixin.py
        language: python
        additional_dependencies: ["ruamel.yaml"]
        entry: python ci/check_embedded_chart_code.py
        args:
          - --update
        files: binderhub/binderspawner_mixin.py|helm-chart/binderhub/values.yaml
        pass_filenames: false

  # Autoformat: js, html, markdown, yaml, json
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        exclude_types:
          # These are excluded initially as pre-commit was added but can
          # absolutely be enabled later. If so, we should consider having a
          # separate run of pre-commit where we configure a line spacing of 4
          # for these file formats.
          - html

  # Misc autoformatting and linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
        # exclude ci/refreeze generated requirements.txt
        exclude: ^.*images\/.*\/requirements\.txt$

  # Lint: Python code
  - repo: https://github.com/PyCQA/flake8
    rev: "7.3.0"
    hooks:
      - id: flake8

# versioneer.py is excluded for being an imported dependency we opt to not
# modify ourselves. This is also set in .flake8 for consistency.
exclude: versioneer.py|binderhub/_version.py

# pre-commit.ci config reference: https://pre-commit.ci/#configuration
ci:
  autoupdate_schedule: monthly
