# chartpress is important for local development, CI and CD
# - builds images and can push them also (--push)
# - updates image names and tags in values.yaml
# - can publish the built Helm chart (--publish)
#
# ref: https://github.com/jupyterhub/chartpress
#
chartpress

# pytest is used to run tests
pytest

# pyyaml is used by script under tools/
pyyaml

# yamllint is used by tools/templates/lint-and-validate.py script
yamllint
