recursive-include binderhub/static *
recursive-include binderhub/templates *
recursive-include binderhub/event-schemas *
graft testing
graft doc
include LICENSE
include versioneer.py
include binderhub/_version.py
