# About pycurl:
# - pycurl is a dependency but not listed here, only in `setup.py`
# - pycurl requires both `curl-config` and `gcc` to be available when installing
#   it from source.
# - the reason we do not list pycurl here is that it is not needed when our
#   code is imported to generate the documentation and it is tricky to install
#   in the ReadTheDocs build environment.
# - instead we manually add pycurl to the list of dependencies in setup.py
#   which is the list used when installing the binderhub package.
docker
escapism
jinja2
jsonschema
jupyterhub
kubernetes
prometheus_client
python-json-logger
tornado>=5.1
traitlets
