# When you change this file please also update `doc/doc-requirements.txt`
# which needs to be kept in sync manually.
kubernetes==9.0.*
escapism
traitlets
docker
jinja2
prometheus_client
python-json-logger
jupyterhub
jsonschema
pycurl
tornado>=5.1

