/* custom fonts we are going to be using. */

@font-face {
    font-family: ClearSans-Thin;
    src: url('/static/vendor/clearsans/WOFF/ClearSans-Thin.woff');
}

@font-face {
    font-family: ClearSans-Light;
    src: url('/static/vendor/clearsans/WOFF/ClearSans-Light.woff');
}

#main {
    padding-top: 32px;
    font-family: "ClearSans-Thin", sans-serif;
}


#logo-container {
    text-align: center;
    color: black;
    padding: 16px;
}

#logo {
    padding: 8px;
    padding-bottom: 32px;
}
#logo-container #tagline {
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
    padding: 16px;
}

#logo-container #explanation {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold
}

#log {
    height: 400px;
}

#log .terminal {
    font-family: "Roboto Mono", monospace;
}

#how-it-works {
    padding: 18px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 18px;
}

#how-it-works div.row {
    margin: 32px;
}

#how-it-works-header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 16px;
}

.point {
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
}

.point-container {
    padding-top: 16px;
}
