/* custom fonts we are going to be using. */

@font-face {
    font-family: ClearSans-Thin;
    src: url('/static/vendor/clearsans/WOFF/ClearSans-Thin.woff');
}

@font-face {
    font-family: ClearSans-Light;
    src: url('/static/vendor/clearsans/WOFF/ClearSans-Light.woff');
}

@font-face {
    font-family: ClearSans-Bold;
    src: url('/static/vendor/clearsans/WOFF/ClearSans-Bold.woff');
}

.hidden {
    display: none;
}

#main {
    padding-top: 32px;
    font-family: "ClearSans-Thin", sans-serif;
}

form {
    font-family: "ClearSans-Light", sans-serif;
}


#logo-container {
    text-align: center;
    color: black;
    padding: 16px;
}

#logo {
    padding: 8px;
    padding-bottom: 32px;
}

h3 {
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
    display: block;
    text-align: center;
}

h4 {
    font-weight: bold;
}

#build-progress {
    font-family: ClearSans-Bold, sans-serif;
    font-size: 16px;
    height: 28px;
    text-shadow: black 1px 1px 1px;
}

#build-progress .progress-bar {
    padding-top: 4px;

}

#logo-container #explanation {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold
}

#log-container .panel-body {
    /* match color of terminal! */
    background-color: black;
}

#submit {
    margin-top: 24px;
}

#log {
    height: 400px;
}

#log .terminal {
    font-family: "Roboto Mono", monospace;
}

#how-it-works {
    line-height: 1.5;
    font-weight: bold;
    font-size: 18px;
}

#how-it-works div.row {
    margin: 32px;
}

.point {
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
}

.point-container {
    padding-top: 16px;
}
