# Order matters:
# - myst-parser depends on "sphinx>=2,<4"
# - pydata-sphinx-theme depends on "sphinx"
# - sphinx-copybutton depends on "sphinx>=1.8"
#
# Listing either pydata-sphinx-theme or sphinx-copybutton first will make the
# myst-parser constraints on sphinx be ignored, so myst-parser should go
# first. This is only relevant if sphinx==1.* is already installed in the
# environment, which it is on ReadTheDocs.

# Documentation specific packages
myst-parser
pydata-sphinx-theme
sphinx-copybutton

# sphinx.ext.autodoc as configured in conf.py and autodo_traits.py is
# automatically building documentation based on inspection of the binderhub
# package, which means we need to install it on RTD so it is available for
# inspection.
-r ../requirements.txt
