# This file is the input to requirements.txt, which is a frozen version of this.
# To update requirements.txt, use the "Run workflow" button at
# https://github.com/2i2c-org/binderhub-service/actions/workflows/watch-dependencies.yaml
#
binderhub @ https://github.com/jupyterhub/binderhub/archive/main.zip
--no-binary pycurl
