# google-cloud-logging is an optional dependency used by mybinder.org-deploy at
# https://github.com/jupyterhub/mybinder.org-deploy/blob/e47021fe/mybinder/values.yaml#L193-L216.
#
# We pin it to avoid introducing a potentially breaking change as major versions
# are released. See:
# https://github.com/googleapis/python-logging/blob/master/UPGRADING.md
#
google-cloud-logging==3.*

# jupyterhub's major version should be matched with the JupyterHub Helm chart's
# used version of JupyterHub.
#
jupyterhub==5.*

# https://github.com/kubernetes-client/python
kubernetes==9.*

# binderhub's dependencies
#
# We can't put ".[pycurl]" here directly as when we freeze this into
# requirements.txt using ci/refreeze, its declaring "binderhub @ file:///io"
# which is a problem as its an absolute path.
#
pycurl
-r ../../../requirements.txt
